/* 
    Document   : style
    Created on : 30.09.2012, 17:49:05
    Author     : patricgutersohn
    Description:
        Purpose of the stylesheet follows.
*/

.products {
    margin-top: -50px !important;
}

