<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% if metaKeywords is defined %}
            <meta name="keywords" content="{{ metaKeywords }}" />
        {% endif %}
        {% if metaDescription is defined %}
            <meta name="description" content="{{ metaDescription }}" />
        {% endif %}
        <title>
            {% block title %} 
                {% if title %}
                    {{ title }} 
                {% endif %}
            {% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>