{% extends 'LadensiaAdminBundle:Support:index.html.twig' %}

                    {% block support_content %}
                    <div id="grunddaten" class="site">
                        <div class="main-content grid_7 omega">
                            <header>
                                <h2>Knowledgebase Artikel</h2>
                                
                            </header>
                            <section class="clearfix">
                                <table class="datatable tablesort selectable paginate full">
                                    <thead>
                                        <tr>
                                            <th>Artikel</th>
                                            <th>Details</th>
                                            <th style="width: 80px"></th>
                                            <th style="width: 80px"></th>
                                            
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Artikel</th>
                                            <th>Details</th>
                                            <th style="width: 80px"></th>
                                            <th style="width: 80px"></th>
                                            
                                        </tr>
                                    </tfoot>

                                    <tbody>
                                    {% if knowledgebase_articles %}
                                    {% for knowledgebase_article in knowledgebase_articles %}
                                        <tr>
                                            <td style="width: 160px">{{ knowledgebase_article.name }}</td>
                                            <td>{{ knowledgebase_article.description }}</ts>
                                            <td style="width: 80px"><a href="#"><img src="{{ asset('images/icons/delete.png') }}" alt="delete" /></a></td>
                                            <td style="width: 80px"><a href="#"><img src="{{ asset('images/icons/pencil.png') }}" alt="edit" /></a></td>
                                        </tr>
                                    {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="4" style="text-align: center">Keine Artikel in dieser Kategorie vorhanden</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                    
                                </table>

                            </section>
                        </div>
                    </div>
                    {% endblock %}
